*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    height: 50vh;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
  background: rgb(124, 95, 253);
  background-size: auto 100vh;
  font-family: 'Roboto', sans-serif;
  height: 100vh;

}

.grid {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fill, minmax(247px,4fr));
    grid-gap: 2rem;
}

.lucas {  
  margin: 56px;
 width: 300px;
 height: 300px;
 text-align: center;
 border-radius: 30%;

}

.portifolio {
  font-size: 30px;
  padding: 2em;
  text-align: initial;
  margin-top: 10px;
}

.insta{
  width: 60px;
  height: 60px;
  border-radius: 30%;
  float: left;
}

.pdfs{
    width: 60px;
  height: 60px;
  border-radius: 30%;
  float: left;
}
.github {
  width: 60px;
  height: 60px;
  border-radius: 30%;
  float: left;
  }

.ux{
  width: 60px;
  height: 60px;
  border-radius: 30%;
  float: left;
}


.portifolio.grid{
display: grid;
grid-gap: :2em;
text-align: center;
}

.h2{
  text-align: initial;
}

.mail {
  width: 60px;
  height: 60px;
  border-radius: 30%;
  float: left;
  }

  .linkedin {
  width: 60px;
  height: 60px;
  border-radius: 10%;
  float: left;
  }

.portifolio figure{
  text-align: center;
}

a {
  text-decoration: none; 
}

a:hover{
  text-decoration: underline
}

.linkados li{
  width: auto;
  text-align: initial;
  list-style: none;
  font-size: 20px;
  margin-top: 10px;
    font-weight: bold;
}
.site-subtitle,
.site-title{
  color: whitesmoke;
  text-align: center;
  font-family: 'Squada One', cursive;
}

.site-title {
  padding: 0.3em;
  font-size: 55px;
}

.site-subtitle{
  font-style: italic;
  font-size: 33px;
  margin: 16px;
  text-align: center;

}

.ufrj {
  width: 60px;
  height: 60px;
  border-radius: 30%;
}

.complementar { 
  width:280px;
  text-align: initial;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.gridicons{
  display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fill, minmax(104px,2fr));
    grid-gap: 2rem;
  }