*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    height: 50vh;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
  background-size: auto 100vh;
  font-family: 'Roboto', sans-serif;
  height: 100vh;

}

main{
  background: linear-gradient(180deg, #6757a9, #403375);
}

.grid {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fill, minmax(247px,4fr));
    grid-gap: 2rem;
}

.lucas {  
  margin: 56px;
 width: 300px;
 height: 300px;
 text-align: center;
 border-radius: 30%;

}

.portifolio {
  font-size: 30px;
  padding: 2em 2em 0 2em;
  text-align: initial;
  margin-top: 10px;
}

.principais{
  width: 200px;
  height: 200px;
  border-radius: 20%;
  float: left;
}
.link {
  font-size: 37px;
 
}

.portifolio.grid{
display: grid;
grid-gap: :2em;
text-align: center;
}

.h2{
  text-align: center;
  color: whitesmoke;
}

.cont{
  text-align: center;

}

.mail {
  text-align: center;
  margin: 0 0 -8px 0;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  }

  .linkedin {
  text-align: center;
  width: 60px;
  height: 60px;
  margin: 0 2em 2px 0;
  border-radius: 10%;
  }

.portifolio figure{
  text-align: center;
}

a {
  text-decoration: none; 
  color: whitesmoke;
}

a:hover{
  text-decoration: underline
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
  }

.linkados li{
  text-align: center;
  list-style: none;
  font-size: 20px;
  margin-top: 10px;
  padding: 5px 0 5px 0;
  font-weight: bold;
}
.site-subtitle,
.site-title{
  color: whitesmoke;
  text-align: center;
  font-family: 'Squada One', cursive;
}

.site-title {
  border-radius: 25px;
  padding: 0.3em;
  font-size: 75px;
}

.site-subtitle{
  font-style: italic;
  font-size: 53px;
  margin: 16px;
  text-align: center;

}

.complementar { 
  text-align: center;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

  .complementar li {
  padding: 5px 0 5px 0;
  }

  .gridicons{
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fill, minmax(104px,2fr));
    grid-gap: 2rem;
  }

  .titulo {
    font-size: 40px;
    text-align: center;
    color: white;
   padding: 20px 0 0 0;
    margin:0 0 20px 0;
  }

  .ui {
  width: 940px;
  margin: 0 auto;
  }

  .ui li{
    display: inline-block;
    width: 49%;
    font-size: 21px;
    color: whitesmoke;
  }
  .ui img {
    margin: 0 0 0.7em 5em;
    display: block;
    width: 220px;
    height: 220px;
    border-radius: 10px;
  }

   .front li{
    display: inline-block;
    width: 48%;
    font-size: 21px;
    color: whitesmoke;
   
}

  .front img{
    margin: 0 0 0.7em 5em;
    display: block;
    width: 220px;
    height: 220px;
    border-radius: 10px;
  }

  .itens li {
    display: inline-block;
    width: 24%;
    text-align:center;
  }

  .subs {
    font-size: 22px;
    text-align: center;
    color: whitesmoke;
    padding: 0 0 20px 0;
  }

  .socialmidia img{
    margin-top: 30px;
    width: 65px;
    height: 65px;
    border-radius: 10px;
 }

 .ferramentas li {
  display: inline-block;
  width: 16%;
  text-align:center;
 }

 .ferramentas img{
  margin-bottom: 30px;
  width: 65px;
  height: 65px;

 }

.contato {
  font-size: 40px;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.back {
  font-size: 30px;
  padding-top: 5px;
  text-align: center;
}