*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    height: 75vh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
  background: rgb(148,0,211);
  background-size: auto 100vh;
  font-family: 'Roboto', sans-serif;
  height: 100vh;

}

.mulher{
width: 300px;
    height: 300px;

}

.ajuda {

  height: 50vh
  margin-top: 36px;
  font-size: 54px;
  background-color: blueviolet;
}
.pergunta {
  font-size: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  grid-gap: 1rem;
  font-size:20px;
  text-decoration: none;
  list-style: none;
}